<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appCtrl as app">
<head>
	<meta charset="UTF-8">
	<title ng-bind="app.title"><%= title %></title>

	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="ng-table/dist/ng-table.css">
	<link rel="stylesheet" href="build/styles/app.css">
</head>

<body>
	<div ui-view></div>

	<script src="angular/angular.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.js"></script>
	<script src="oclazyload/dist/ocLazyLoad.js"></script>
	<!-- <script src="ng-table/dist/ng-table.js"></script> -->
	<script src="build/scripts/app.js"></script>
	<!-- <script src="build/scripts/core/core.js"></script>
	<script src="build/scripts/components/components.js"></script>
	<script src="build/scripts/core/accordions/accordions.js"></script>
	<script src="build/scripts/components/conow-grid/conow-grid.js"></script> -->
</body>
</html>