<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appCtrl as app">
<head>
	<meta charset="UTF-8">
	<title ng-bind="app.title"></title>

	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="src/app/common/common.css">

	<script src="angular/angular.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.js"></script>
	<script src="oclazyload/dist/ocLazyLoad.js"></script>
	<script src="src/app/app.js"></script>
	<script src="src/app/app.config.js"></script>
	<script src="src/app/app.routes.js"></script>
	<script src="src/app/core/core.module.js"></script>
	<script src="src/app/core/expanders/expanders.directive.js"></script>
</head>

<body>
	<div ui-view></div>
</body>
</html>