<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>跳转中...</title>

	<style>
	/*a {
		text-decoration: none;
		color: #315EFA;
	}
	a:hover {
		text-decoration: underline;
	}
	a:visited {
		color: #000;
	}
	.font-20 {
		font-size: 20px;
	}
	.redirect-container {
		display: flex;
		justify-content: center;
		width: 100%;
		font-size: 20px;
		background: #F3EFEF;
		margin: 200px auto;
		padding: 20px;
		position: relative;
	}
	.redirect-tip {
		margin-top: 20px;
		text-align: center;
	}
	.redirect-row {
		position: absolute;
		width: 100%;
		bottom: 20px;
	}
	.redirect-count-down {
		display: inline-block;
		width: 45%;
		text-align: right;
	}
	.auto-redirect {
		display: inline-block;
		width: 45%;
		text-align: left;
	}
	.row.blank {
		height: 30px;
	}
	#dot-dot-dot {
		display: inline-block;
		width: 30px;
	}
	#count-down-seconds {
		color: #3D39FF;
	}
	@media screen and (max-width: 768px) {
		.redirect-container {
			width: 80%;
			min-width: 400px;
		}
	}*/

	/*.inline {
		display: inline-block;
	}*/
	body {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		min-height: 600px;
	}
	.redirect-container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 800px;
		min-width: 600px;
		height: 400px;
	}
	.redirect-img {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: flex-end;
	    flex: 1;
	    padding-right: 30px;
	}
	.redirect-tip {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		flex: 1;
		padding-left: 30px;
	}
	.redirect-tip .row {
		
	}
	.btn.btn-favorite {
		font-size: 16px;
		display: inline-block;
		background: #23b7e5;
		padding: 8px 5px;
		border-radius: 6px;
		text-align: center;
		text-decoration: none;
		color: #fff;
		width: 110px;
	}
	.btn.btn-go {
		font-size: 16px;
		display: inline-block;
		background: #45b7af;
		padding: 8px 5px;
		border-radius: 6px;
		text-align: center;
		text-decoration: none;
		color: #fff;
		width: 86px;
		margin-left: 20px;
	}
	.tip-msg {
		font-size: 20px;
		color: #0f2228;
		line-height: 1.6;
	}
	.redirect-btns {
		margin-top: 60px;
	}
	</style>
</head>

<body>

	<div class="redirect-container">
		<div class="redirect-img">
			<img src="images/jump.png" alt="跳转中...">
		</div>
		<div class="redirect-tip">
			<div class="row tip-msg">
				该环境已经迁移到新的服务器
			</div>
			<div class="row tip-msg">
				正在为您自动跳转<span id="dot-dot-dot">.</span>	
			</div>
			<div class="row redirect-btns">
				<a href="http://159.226.97.164" id="btn-favorite" class="btn btn-favorite">收藏最新地址</a>
				<a href="http://159.226.97.164" class="btn btn-go">直接跳转</a>
			</div>
		</div>
	</div>

	<!-- <div class="redirect-container">
		<div class="redirect-tip">
			<form>
				<div class="row">
					该环境已经迁移到新的服务器,
				</div>
				<div class="row blank"></div>
				<div class="row">
					正在为您自动跳转<span class="dot-dot-dot" id="dot-dot-dot">.</span>
				</div>
				<div class="row blank"></div>
				<div class="row font-20">
					<a href="http://159.226.97.164" id="add-favorite">收藏最新地址</a>
				</div>
				<div class="row redirect-row font-20">
					<div class="redirect-count-down">
						<span>倒计时:</span>
						<span class="count-down-seconds" id="count-down-seconds">5</span>
						<span>秒</span>
					</div>
					<div class="auto-redirect">
						<a href="http://159.226.97.164"> 直接访问>> </a>
					</div>
				</div>
			</form>
		</div>
	</div> -->

	<script>
		(function(window) {
			var secondTimeoutHandler = null,
				dotTimeoutHandler = null,
				destUrl = 'http://159.226.97.164',
				title = '159';

			window.onload = function() {
				// var history = window.history;
				// history.pushState({}, 'ARP', '159.226.97.164');

				// var countDownSeconds = document.getElementById('count-down-seconds'),
				// 	dotDotDot = document.getElementById('dot-dot-dot'), 
				// 	addFavorite = document.getElementById('add-favorite'),
				// 	secondsCount = 5,
				// 	dotCount = 0;
				var addFavorite = document.getElementById('btn-favorite'),
					dotDotDot = document.getElementById('dot-dot-dot'),
					secondsCount = 5,
					dotCount = 0;

				setTime(secondsCount);
				setDot(dotCount);

				addFavorite.addEventListener('click', function(evt) {
					addFavoriteFn(this, destUrl, title, evt); 
					
					// add2(this, destUrl, title);
				});

				function setTime(count) {
					if (count < 0) {
						window.location.href = 'http://159.226.97.164';
					} else {
						// countDownSeconds.innerHTML = count;
						count --;

						secondTimeoutHandler = setTimeout(function() {
							setTime(count);
						}, 1000);
					}		

				}

				function setDot(count) {
					if (count % 4) {
						dotDotDot.innerHTML = dotDotDot.innerHTML + '.';
					} else {
						dotDotDot.innerHTML = '';
					}
					count ++;

					dotTimeoutHandler = setTimeout(function() {
						setDot(count);
					}, 1000);
				}
			}

			function addFavoriteFn(obj, siteUrl, siteName, evt) {
				var isFF = /Firefox/.test(window.navigator.userAgent); 

				if (isFF) {
					obj.setAttribute('rel', 'sidebar');
					obj.title = siteName;
					obj.href = siteUrl;
				} else {
					evt.preventDefault();
					// 捕获加入收藏过程中的异常       
					try {
						window.external.addFavorite(siteUrl, siteName)
				    } catch (e) {
				    	try {
				    		window.sidebar.addPanel(siteName, siteUrl, '');
				    	} catch (e) {
				    		alert("加入收藏夹失败，请使用Ctrl+D快捷键进行添加操作!");
				    	}     
				    }
				}
			}

			function add2(obj, url, title) {
			    var e = window.event || arguments.callee.caller.arguments[0];
			    var B = {
			        IE : /MSIE/.test(window.navigator.userAgent) && !window.opera
			        , FF : /Firefox/.test(window.navigator.userAgent)
			        , OP : !!window.opera
			    };
			    obj.onmousedown = null;
			    if (B.IE) {
			        obj.attachEvent("onmouseup", function () {
			            try {
			                window.external.AddFavorite(url, title);
			                window.event.returnValue = false;
			            } catch (exp) {
			            	// 
			            }
			        });
			    } else {
			        if (B.FF || obj.nodeName.toLowerCase() == "a") {
			            obj.setAttribute("rel", "sidebar");
			            obj.title = title;
			            obj.href = url;
			        } else if (B.OP) {
			            var a = document.createElement("a");
			            a.rel = "sidebar", a.title = title, a.href = url;
			            obj.parentNode.insertBefore(a, obj);
			            a.appendChild(obj);
			            a = null;
			        }
			    }
			};

			window.onbeforeunload = function() {
				clearTimeout(secondTimeoutHandler);
				clearTimeout(dotTimeoutHandler);
			}
		})(window);
	</script>
</body>
</html>